In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('us_cities_by_state_SEPT.2023.csv')

In [5]:
df = df.groupby('state', as_index = False).size()

In [6]:
df = df.rename(columns={df.columns[0]: 'STATE', df.columns[1]: 'ARTICLES'})

In [7]:
df.head()

        STATE  ARTICLES
0     Alabama       922
1      Alaska       149
2     Arizona        91
3    Arkansas       500
4  California       482

In [8]:
population = pd.read_csv('population_by_state.csv')

In [9]:
population.head()

        STATE  POPULATION
0     Alabama   5074296.0
1      Alaska    733583.0
2     Arizona   7359197.0
3    Arkansas   3045637.0
4  California  39029342.0

In [10]:
statewise_total_articles = pd.merge(df, population, on = "STATE")

In [11]:
statewise_total_articles['total_articles_per_capita'] = statewise_total_articles['ARTICLES'] / statewise_total_articles['POPULATION']

In [12]:
statewise_total_articles.head()

        STATE  ARTICLES  POPULATION  total_articles_per_capita
0     Alabama       922   5074296.0                   0.000182
1      Alaska       149    733583.0                   0.000203
2     Arizona        91   7359197.0                   0.000012
3    Arkansas       500   3045637.0                   0.000164
4  California       482  39029342.0                   0.000012

### Table 1

In [13]:
statewise_total_articles.sort_values(['total_articles_per_capita'], ascending=[0]).head(10)

           STATE  ARTICLES  POPULATION  total_articles_per_capita
32       Vermont       329    647064.0                   0.000508
16         Maine       483   1385340.0                   0.000349
12          Iowa      1043   3200517.0                   0.000326
1         Alaska       149    733583.0                   0.000203
28  Pennsylvania      2556  12972008.0                   0.000197
0        Alabama       922   5074296.0                   0.000182
19      Michigan      1773  10034113.0                   0.000177
36       Wyoming        99    581381.0                   0.000170
3       Arkansas       500   3045637.0                   0.000164
22      Missouri       951   6177957.0                   0.000154

### Table 2

In [19]:
statewise_total_articles.sort_values(['total_articles_per_capita'], ascending=[0]).tail(10).iloc[::-1]

         STATE  ARTICLES  POPULATION  total_articles_per_capita
24      Nevada        19   3177772.0                   0.000006
4   California       482  39029342.0                   0.000012
2      Arizona        91   7359197.0                   0.000012
7      Florida       413  22244823.0                   0.000019
26    Oklahoma        75   4019800.0                   0.000019
13      Kansas        63   2937150.0                   0.000021
17    Maryland       157   6164660.0                   0.000025
33    Virginia       266   8683619.0                   0.000031
35   Wisconsin       193   5892539.0                   0.000033
34  Washington       281   7785786.0                   0.000036

### Table 3

In [63]:
aq1 = pd.read_csv("article_quality_1.csv")
cs1 = pd.read_csv('us_cities_by_state_SEPT.2023.csv')[:4000]

In [73]:
t3_1 = pd.concat([aq1, cs1],axis=1)

In [80]:
df_pop = pd.read_csv('population_by_state.csv')

In [81]:
df_pop.rename(columns={'STATE':'state'}, inplace=True)
df_pop.rename(columns={'POPULATION':'population'}, inplace=True)

In [82]:
# Filter for good quality articles (article_quality values FA and GA)
good_quality_df = t3_1[t3_1['article_quality'].isin(['FA', 'GA'])]

# Group by 'state' and count the number of good quality articles for each state
state_counts = good_quality_df.groupby('state')['article_quality'].count().reset_index()
state_counts.rename(columns={'article_quality': 'high_quality_count'}, inplace=True)

# Merge the state counts with the population DataFrame
state_population = pd.merge(state_counts, df_pop, on='state'.lower())

# Calculate high-quality articles per capita
state_population['high_quality_per_capita'] = state_population['high_quality_count'] / state_population['population']

# Sort in descending order and select the top 10 states
top_10_states = state_population.sort_values(by='high_quality_per_capita', ascending=False).head(10)

In [83]:
top_10_states

        state  high_quality_count  population  high_quality_per_capita
1      Alaska                  31    733583.0                 0.000042
6    Delaware                  25   1018396.0                 0.000025
3    Arkansas                  72   3045637.0                 0.000024
9       Idaho                  41   1939033.0                 0.000021
0     Alabama                 106   5074296.0                 0.000021
8      Hawaii                  30   1440196.0                 0.000021
5    Colorado                  83   5839926.0                 0.000014
7     Florida                 120  22244823.0                 0.000005
4  California                 172  39029342.0                 0.000004
2     Arizona                  24   7359197.0                 0.000003

### Table 4

In [84]:
# Sort in ascending order and select the bottom 10 states
bottom_10_states = state_population.sort_values(by='high_quality_per_capita').head(10)

In [85]:
bottom_10_states

         state  high_quality_count  population  high_quality_per_capita
10    Illinois                  21  12582032.0                 0.000002
2      Arizona                  24   7359197.0                 0.000003
4   California                 172  39029342.0                 0.000004
7      Florida                 120  22244823.0                 0.000005
5     Colorado                  83   5839926.0                 0.000014
8       Hawaii                  30   1440196.0                 0.000021
0      Alabama                 106   5074296.0                 0.000021
9        Idaho                  41   1939033.0                 0.000021
3     Arkansas                  72   3045637.0                 0.000024
6     Delaware                  25   1018396.0                 0.000025

### Table 5

In [20]:
states_by_region = pd.read_csv('states_by_region.csv')

In [28]:
divisional = pd.merge(statewise_total_articles, states_by_region, on = "STATE")

In [47]:
df_div = divisional.groupby(by=['DIVISION'])['ARTICLES'].sum().reset_index()

In [48]:
df_pop = divisional.groupby(by=['DIVISION'])['POPULATION'].sum().reset_index()

In [50]:
division_total_articles = pd.merge(df_div, df_pop, on='DIVISION')

In [52]:
division_total_articles['division_articles_per_capita'] = division_total_articles['ARTICLES'] / division_total_articles['POPULATION']

In [55]:
division_total_articles.sort_values('division_articles_per_capita', ascending=[0])

             DIVISION  ARTICLES  POPULATION  division_articles_per_capita
2     Middle Atlantic      2556  12972008.0                      0.000197
7  West North Central      2911  18032808.0                      0.000161
4         New England      1164   9014378.0                      0.000129
1  East South Central      1992  19578002.0                      0.000102
0  East North Central      4755  47097779.0                      0.000101
8  West South Central      2106  41685250.0                      0.000051
3            Mountain      1105  23400976.0                      0.000047
5             Pacific      1304  53229044.0                      0.000024
6      South Atlantic       893  38111498.0                      0.000023

### Table 6 need article quality here

In [88]:
# Calculate the number of high-quality articles per division
division_counts = good_quality_df.groupby('state')['article_quality'].count().reset_index()
division_counts.rename(columns={'article_quality': 'high_quality_count'}, inplace=True)

census_divisions_df = pd.read_csv('states_by_region.csv')
census_divisions_df.rename(columns={'STATE': 'state'}, inplace=True)

# Merge division_counts with census_divisions_df to link divisions to states
census_divisions_with_counts = pd.merge(census_divisions_df, division_counts, on='state')

# Merge the census_divisions_with_counts DataFrame with the population data
census_divisions_with_population = pd.merge(census_divisions_with_counts, df_pop, on='state')

# Calculate high-quality articles per capita for each division
census_divisions_with_population['high_quality_per_capita'] = census_divisions_with_population['high_quality_count'] / census_divisions_with_population['population']

# Rank the census divisions by high-quality articles per capita in descending order
ranked_census_divisions = census_divisions_with_population.sort_values(by='high_quality_per_capita', ascending=False)

In [89]:
ranked_census_divisions

,REGION,DIVISION,state,high_quality_count,population,high_quality_per_capita
8,West,Pacific,Alaska,31,733583.0,0.000042
1,South,South Atlantic,Delaware,25,1018396.0,0.000025
4,South,West South Central,Arkansas,72,3045637.0,0.000024
7,West,Mountain,Idaho,41,1939033.0,0.000021
3,South,East South Central,Alabama,106,5074296.0,0.000021
10,West,Pacific,Hawaii,30,1440196.0,0.000021
6,West,Mountain,Colorado,83,5839926.0,0.000014
2,South,South Atlantic,Florida,120,22244823.0,0.000005
9,West,Pacific,California,172,39029342.0,0.000004
5,West,Mountain,Arizona,24,7359197.0,0.000003
0,Midwest,East North Central,Illinois,21,12582032.0,0.000002